<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello World</title>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<body>
    <div id="app">
        <p>stock item  : {{stock}}</p><br/>
        <p v-if="stock>10">stock lebih dari 10</p>
        <p v-if="stock>0">stock kurang dari 10</p>
        <p v-if="stock<1">stock habis</p>
    </div>
    <script src="app.js"></script>
</body>
</html>